*{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    color: #fff;

    font-family: "Oswald", sans-serif;
}

i {
    font-family: "FontAwesome";
}

body {
    background-color: var(--background);
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 230px 850px 1fr;

}

@media ( max-width: 1200px ){
    main {
        display: grid;
        grid-template-columns: 0.35fr 120px 850px 1fr;
    }
}

@media ( max-width: 1000px ){
    main {
        display: grid;
        grid-template-columns: 0.8fr 120px 520px 1fr;
    }

    #aside_bar_id{
        display: flex;
        margin-left: 0;
        position: relative;
        right: -25px;
    }

    #aside_bar_id{
        width: 50px;
    }

    #aside_bar_id .fixed{
        width: 50px;
    }

    #aside_bar_id a,nav{
        margin: 0;
    }

    #aside_bar_id .align_tweet_box{
        width: 50px;
    }

    #aside_bar_id #side_nav{
        width: 45px;
    }

    #aside_bar_id .side_link{
        width: 45px;
    }

    #aside_bar_id .media_profile_link{
        position: relative;
        left: -20px;
    }

    #search_box_id{
        display: none;
    }

    #news_bar_aside_id{
        display: none;
    }

    .content{
        position: relative;
        border-right: 1px solid var(--BorderColor);
        left: -30px;
    }

    #top_side_bar_id{
        width: 518px;
    }

    main .content .main_content{
        border-right: 0px;
    }

}