main .aside_bar .fixed{
    position: fixed;
}

main .aside_bar .special_link{
    display: grid;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;
    margin-left: 10px;
    border-radius: 50%;
}

main .aside_bar .special_link:hover{
    background-color: var(--TwitterColorLowOpacity);
}

main .aside_bar .special_link i{
    font-size: 24px;
}

main .aside_bar #side_nav{
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

main aside nav .side_link{
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 230px;

    margin: 5px 0px 5px 0px;
    padding: 3px 5px 3px 5px;
}

main .aside_bar nav a .side_itens{
    height: 40px;
    border-radius: 20px;

    display: flex;
    align-items: center;

    padding: 3px 15px 0px 15px;

    transition: 0.1s ease-in-out;
}

main .aside_bar nav a .side_itens label{
    display: flex;
    align-items: center;

    width: 30px;
    height: 30px;
}

main .aside_bar nav a .side_itens label i{
    font-size: 18px;
}

main .aside_bar nav a .side_itens span{
    font-size: 18px;
    margin-left: 8px;
}

main .aside_bar nav a .side_itens #home_page_span{
    font-weight: 600;
}

main .aside_bar .align_tweet_box #tweet_btn_box{
    display: flex;

    height: auto;
    width: 200px;
    margin-top: 0px;
}

main .aside_bar .align_tweet_box #tweet_btn_box button{
    position: relative;
    z-index: 1;
    margin-top: 10px;

    height: 45px;
    width: 200px;

    background-color: var(--TwitterColor);
    border: none;
    border-radius: 25px;
}

main .aside_bar .align_tweet_box #tweet_btn_box button:hover{
    background-color: var(--TwitterColorLight);
}

main .aside_bar .align_tweet_box #tweet_btn_box button i{
    display: none;
}

main .aside_bar .align_tweet_box #tweet_btn_box button span{ 
    font-size: 16px;
}

main .aside_bar #hover_effect_btn{
    position: relative;
    z-index: 3;

    display: flex;

    height: 45px;
    width: 200px;
}

main aside .media_profile_link .side_profile_link{
    display: flex;
    align-items: center;

    position: fixed;
    bottom: 15px;

    margin-top: 35px;
    height: 56px ;
    width: 210px;

    border-radius: 28px;

    padding: 0 10px 0 10px;
}

main aside .media_profile_link .side_profile_link:hover{
    background-color: var( --BackgroundGrayHover );
}

.profile_img{
    border-radius: 50%;
    background-color: var( --ComplementColor );
}

.names_infos {
    margin-left: 10px;
}

.span_box{
    font-size: 14px;
    white-space: nowrap;
}

.link_box {
    font-size: 9px;
}

.link_box a{
    color: var( --ComplementColor );
}

#icon_plus{
    margin-left: 25px;
}

/* @Media */

@media ( max-width: 1200px ) {
    main .aside_bar .special_link{
        margin-top: 5px;
        margin-left: 25px;
    }

    main .aside_bar .special_link i{
        font-size: 25px;
    }

    main .aside_bar{
        margin-left: 40px;
        width: 95px;
        background-color: var( --background );
        overflow: hidden;

    }

    main .aside_bar .side_link{
        margin: 0px;
        width: 90px;
        justify-content: center;
    }

    main .aside_bar .side_link .side_itens{
        width: 45px;
        height: 45px;
        border-radius: 50%;

        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .aside_bar .side_link .side_itens span{
        display: none;
    }

    main .aside_bar .side_link .side_itens label{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .aside_bar .side_link .side_itens label i{
        font-size: 21px;
    }

    main .aside_bar #hover_effect_btn{
        display: none;
    }

    main .aside_bar .align_tweet_box{
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .aside_bar .align_tweet_box #tweet_btn_box{
        width: 45px;
    }

    main .aside_bar .align_tweet_box #tweet_btn_box button{
        position: inherit;
    }

    main .aside_bar .align_tweet_box #tweet_btn_box button:hover{
        background-color: var(--TwitterColor);
    }

    main .aside_bar .align_tweet_box #tweet_btn_box button i{
        display: block;
        font-size: 24px;
    }

    main .aside_bar .align_tweet_box #tweet_btn_box button span{
        display: none;
    }

    main .aside_bar .media_profile_link{
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .aside_bar .media_profile_link .side_profile_link{
        width: 55px;
    }

    main .aside_bar .media_profile_link .side_profile_link .names_infos{
        display: none;
    }

    main .aside_bar .media_profile_link .side_profile_link .icon_media{
        display: none;
    }
}


