
main .content{
    border-left:  1px solid var(--BorderColor);
    /* overflow: hidden; */
}

main .content .content_box{
    display: flex;
}


main .content .main_content{
    border-right: 1px solid var(--BorderColor);
    width: 520px;
    padding-top: 45px;
    overflow: hidden;
    /* background-image: url("/Img/perfil.jpg"); */
}   

main .content .main_content .tweet_major_box {
    border-bottom: 1px solid var(--BorderColor);
    min-height: 80px;
}/* MORE TWEET_MAJOR_BOX STYLES BELOW  */

main .content .top_side_bar{ 
    z-index: 999;
    border: none;
    display: flex;
    width: 850px;
    position: fixed;
    height: 45px;
    -webkit-transform: translateZ(0);
}

main .content .top_side_bar #page_indicator_id{
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    padding: 10px 15px 0px 15px;
    width: 519px;

    background-color: rgba( 0, 0,0, 0.5 );
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

main .content .top_side_bar .search_box{ 
    margin-left: 1px;
    width: 330px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var( --background );
}

main .content .top_side_bar #search_element{
    height: 44px;
    border-radius: 22px;
    width: 300px;
    background-color: var( --GrayLow );

    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
}

main .content .top_side_bar #search_element label{
    justify-content: center;
}

main .content .top_side_bar #search_input{
    font-size: 14px;

    background: none;
    border: none;
    outline: none;
}

main .content .top_side_bar #search_icon{
    display: flex;
    text-align: left;
    font-size: 14px;
}

main .content .top_side_bar #close_icon{
    text-align: right;
    font-size: 18px;
    display: none;
}

main .content .page_indicator .stars{
    /* position: relative;
    left: 8px; */

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    width: 35px;
    height: 35px;

    transition: ease-in-out;
}

main .content .page_indicator .stars:hover{
    background-color: var( --BackgroundGrayHover );
}

main .content .main_content .format{
    padding: 10px 15px 0px 15px;

    width: 520px; /* add @media width -> 550px */

    display: flex;

    border-bottom: 1px solid var(--BorderColor);
}

main .left_side{
    width: 40px;
    height: 100%;
    margin-right: 15px;
}

main .right_side{
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .right_side .box_input_tweet{
    width: 100%;
    height: auto;
    padding: 5px 0 5px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .content .main_content .write_tweet .right_side .box_input_tweet input{
    width: 100%;
    height: auto;

    color: var(--GrayTextColor);
    outline: none;
    font-size: 18px;

    border: none;
    background: none;
}

main .content .main_content .write_tweet .right_side .box_input_tweet input:focus{
    color: var(--TextColor);
}

main .write_tweet .setting_bar_1{
    height: 35px;
    width: 430px;
    border-bottom: 1px solid var(--BorderColor);

    padding-left: 10px;
}

/* main .write_tweet .setting_bar_1{
    width: ;
    height: 24px;
} */

main .write_tweet .setting_bar_1 .who_can_reply .box_who_can_reply{
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 24px;
    width: 120px;
}

main .write_tweet .setting_bar_1 .who_can_reply .box_who_can_reply:hover{
    background-color: var(--TwitterColorLowOpacity);
}

main .write_tweet .setting_bar_1 .who_can_reply .box_who_can_reply label{
    height: 24px;

    display: flex;
    align-items: center;


    margin-right: 5px;
}

main .write_tweet .setting_bar_1 .who_can_reply .box_who_can_reply label i, .box_who_can_reply span{
    font-size: 14px;
    color: var(--BlueTextColor);
}


main .write_tweet .setting_bar_2{
    display: flex;

    height: 50px;

    justify-content: space-between;
    align-items: center;
}

main .bar_btn_set .tweet_buttons_sets{
    background: none;
    border: none;
    outline: none;

    margin: 10px 0 10px 0px; 
}

main .bar_btn_set button{
    width: 32px;
    height: 32px;

    cursor: pointer;

    border-radius: 50%;
}

main .bar_btn_set button:hover{
    background-color: var(--TwitterColorLowOpacity); 
}

main .bar_btn_set .tweet_buttons_sets i{
    color: var(--BlueTextColor);
    font-size: 16px;
}

main .bar_btn_set #add_localization i{
    filter: opacity(50%);
}

main .box_tweet_btn button{
    background-color: var(--BlueTextColor);

    font-size: 15px;

    outline: none;
    border: none;

    width: 70px;
    height: 32px;

    border-radius: 15px;
}

main .box_tweet_btn button:hover{
    background-color: var(--TwitterColorLight);
}

main .main_content .new_tweets{
    width: 100%;
    padding: 10px 0 10px 0;

    display: flex;

    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--BorderColor);
}

main .main_content .new_tweets span{
    color: var(--BlueTextColor);
    font-size: 15px;
}

/* TWEET'S CSS SETTINGS TWEET'S CSS SETTINGS */

/* classes left_side e right_side applied in Tweet's */

main .tweet_major_box { 
    flex-direction: column;
}

main .tweet_major_box .top_side{ 
    display: flex;
    flex-direction: row;
}

main .tweet_major_box .left_side, .tweet_major_box .left_side .side_profile_img{
    height: 43px;
}

main .tweet_major_box .left_side .side_profile_img{
    height: 43px;
}

main .tweet_major_box .right_side{
    height: 43px;
}

main .tweet_major_box .right_side nav{
    display: block;
}

main .tweet_major_box .right_side nav .top_side{
    display: flex;
    justify-content: space-between;
}

main .tweet_major_box .right_side nav .top_side .more_tweet_infos{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    border-radius: 15px;
}

main .tweet_major_box .right_side nav .top_side .more_tweet_infos:hover{
    background-color: var( --BackgroundGrayHover );
}

main .tweet_major_box .right_side nav .top_side .perfil_name a{
    font-size: 14px;
    font-weight: 800;
}

main .tweet_major_box .right_side nav .top_side .perfil_name i{
    font-size: 12px;
}

main .tweet_major_box .right_side nav .bot_side{
    position: relative;
    top: -10px;

    display: flex;
    height: 20px;
    align-items: center;
}

main .tweet_major_box .right_side nav .bot_side a{
    font-size: 11px;
    color: var(--ComplementColor);
}

main .tweet_major_box .right_side nav .bot_side .point{
    height: 20px;
    display: flex;

    padding: 0px 3px 0 3px;
}

main .tweet_major_box .right_side nav .bot_side .point span{
    display: flex;
    justify-content: center;
    width: 7px;
    color: var(--GrayTextColor);
}

main .tweet_major_box .tweet_content{
    margin: 10px 0 15px 0;
}

main .tweet_major_box .tweet_content p{
    font-size: 14px;
}

main .tweet_major_box .special_content_box { 
    position: relative;
    left: -15px;
    width: 520px;

    display: flex;
    justify-content: center;
    /* background-color: var( --backgroundImageColor ); */
}

main .tweet_major_box .special_content_box .special_content{
    max-width: 520px;
    max-height: 320px;
}

main .tweet_major_box .tweet_interaction{
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .tweet_major_box .tweet_interaction .interaction_box{
    height: 25px;
    width: 25px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease-in-out 0.1s;
}


main .tweet_major_box .tweet_interaction .interaction_box:nth-child(3n + 1):hover{
    background-color: var( --TwitterColorLowOpacity );
}

main .tweet_major_box .tweet_interaction .interaction_box:nth-child(3n + 2):hover{
    background-color: var( --TwitterGreenColorLowOpacity );
}

main .tweet_major_box .tweet_interaction .interaction_box:nth-child(3n + 3):hover{
    background-color: var( --TwitterRedColorLowOpacity );
}

main .tweet_major_box .tweet_interaction .interaction_box i{ 
    font-size: 15px;
    color: var( --ComplementColor );

    transition: ease-in-out 0.1s;
}

main .tweet_major_box .tweet_interaction .interaction_box #interaction_retweet:hover{ 
    color: var( --TwitterGreenColor );
}

main .tweet_major_box .tweet_interaction .interaction_box #interaction_like:hover{ 
    color: var( --TwitterRedColor );
}

main .tweet_major_box .tweet_interaction .interaction_box #interaction_share:hover{ 
    color: var( --TwitterColor );
}



